html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: inherit;
}

button {
    border: none;
    outline: none;
    background-color: none;
}

*:focus {
    outline: 1px solid $accent-color;
}