  $text-color: #757575;
  $primary-title-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $background-footer: #2f303a;
  $background-icon: #f5f4fa;
  $background-button: #f5f4fa;
  $color-button: #212121;
  $color-social: #afb1b8;
  $client-icon: #afb1b8;
  $fixed-header-mobile: 60px;
  $fixed-header-tablet: 80px;
  $font-primary: 'Roboto',
  sans-serif;